<div>
    {{>header}}
    <div class="wrapper">
        {{>sidebar}}

        <div id="content" class="container-fluid">
            {{#if errorMsg}}
            {{>error}}
            {{/if}}
            <div class="m-3 p-3 mt-4">
                <h4>Add Cohort</h4>
                <hr>
                <form method="POST" action="/batch/create-batch" id="add-batch" enctype="multipart/form-data">
                    <div class="column">
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group mb-2">
                                <h5 for="name">Cohort Name</h5>
                                <input value="{{data.name}}" name="name" required type="text" class="form-control"
                                    id="name">
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 ">
                            <div class="mb-3">
                                <h5 for="courseName">Course Name</h5>
                                <select name="batch" class="form-select select2-single">
                                    {{#select data.batch}}
                                    <option value="">Back-End</option>
                                    <option value="">Front-End</option>
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="mb-3">
                                <h5 for="startDate">Start Date</h5>
                                <input value="{{data.startDate}}" name="startDate" required type="date"
                                    class="form-control" id="startDate">
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 mb-4">
                        <button class="btn btn-success btn-md" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        setTimeout(function () {
            $('#sidebar #batch')[0].click();
            let currentSubPage = $('#sidebar .batchSubMenu')[0];
            $(currentSubPage).addClass('active')

            $('.select2-single').select2();
        }, 200);
    });

</script>