<div>
	{{>header}}
	<div class="wrapper">
		{{>sidebar}}

		<div id="content" class="container-fluid">
			{{#if errorMsg}}
				{{>error}}
			{{/if}}
			{{#if successMsg}}
				{{>success}}
			{{/if}}
			<div class="m-3 p-3 mt-4">
				<h4>Manage Cohort</h4>
				<hr>
				<table class="table table-hover">
					<thead>
						<tr>
							{{!-- <th scope="col">S.no</th> --}}
							<th scope="col">Cohort Name</th>
							<th scope="col" class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody id="batch-table-content">
						{{#each data.result}}
							<tr>
								<td>{{this.name}}</td>
								<td class="d-flex flex-row bd-highlight justify-content-around">
									<a class="btn btn-sm btn-success" href="/batch/edit-batch/{{this._id}}">Update</a>
									<a class="btn btn-sm btn-danger" href="/batch/delete-batch/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');">Delete</a>
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
				<div class="mt-4">
					{{>pagination pageUrl="/batch/manage-batch"}}
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        setTimeout(function(){
            $('#sidebar #batch')[0].click();
            let currentSubPage = $('#sidebar .batchSubMenu')[1];
            $(currentSubPage).addClass('active')

		},200);
    });

</script>