<!doctype html>
<html lang="en" class="fullscreen-bg">
	<head>
		<title>Login</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	</head>

	<body>
	<!-- WRAPPER -->
	{{#if errorMsg}}
				{{>error}}
			{{/if}}
			{{#if successMsg}}
				{{>success}}
			{{/if}}

	<div id="login" class=" d-flex flex-column min-vh-100 justify-content-center align-items-center ">
		{{!-- <div><img src="/assets/images/functionup-logo.svg" alt="Fanplay Logo" height="100dp"></div> --}}
		<h4 >Go Digit</h4>
		<h4 >Dashboard</h4>
	     <div class="quizSubMenu"><a href="/user/signing-up">Sign-up for free</a></div>

	 
		
		<hr style="width:50%;text-align:left;margin-left:0;">
		

		<p >Login to your account</p>
		
	 <form method="POST" action="/user/login" id="add-student" enctype="multipart/form-data">
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Email address</label>
				<input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
				<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
			</div>
			<div class="mb-3">
				<label for="exampleInputPassword1" class="form-label">Password</label>
				<input type="password" name="password" class="form-control" id="exampleInputPassword1">
			</div>
			
			<button type="submit" class="btn btn-primary d-flex align-self-center">Submit</button>
		</form>
		
		
	</div>	

	<!-- END WRAPPER -->
</body>


</html>
