<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 0px;">
  <div class="container-fluid">
    <button type="button" id="sidebarCollapse" class="btn navbar-btn">
        <span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span>
    </button>
    <a class="navbar-brand" href="/">
      {{!-- <img src="/assets/images/functionup-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"> --}}
      Go Digit
    </a>
    <div>
        <a class="btn btn-outline-danger" href="/logout" >Logout</a>
    </div>
  </div>
</nav>