<!-- Sidebar Holder -->
<nav id="sidebar">
  <ul class="list-unstyled components">
    {{!-- <li>
      <a href="#studentsMenu" data-bs-toggle="collapse" aria-expanded="false" aria-controls="studentsMenu"
        id="students">Students
        <i class="fas fa-caret-down"></i>
      </a>
      <ul class="collapse list-unstyled" id="studentsMenu">
        <li class="studentsSubMenu"><a href="/student/add-student">Add Student</a></li>
        <li class="studentsSubMenu"><a href="/student/manage-student">Manage Student</a></li>
      </ul>
    </li> --}}
    {{!-- <li>
      <a href="#mentorsMenu" data-bs-toggle="collapse" aria-expanded="false" aria-controls="mentorsMenu"
        id="mentors">Mentors
        <i class="fas fa-caret-down"></i>
      </a>
      <ul class="collapse list-unstyled" id="mentorsMenu">
        <li class="mentorsSubMenu"><a href="/mentor/add-mentor">Add Mentor</a></li>
        <li class="mentorsSubMenu"><a href="/mentor/manage-mentor">Manage Mentor</a></li>
      </ul>
    </li>
    <li>
      <a href="#batchMenu" data-bs-toggle="collapse" aria-expanded="false" aria-controls="batchMenu" id="batch">Cohort
        Management
        <i class="fas fa-caret-down"></i>
      </a>
      <ul class="collapse list-unstyled" id="batchMenu">
        <li class="batchSubMenu"><a href="/batch/add-batch">Create Cohort</a></li>
        <li class="batchSubMenu"><a href="/batch/manage-batch">Manage Cohort</a></li>
      </ul>
    </li> --}}
     <li>
      <a href="#quizMenu" data-bs-toggle="collapse" aria-expanded="false" aria-controls="quizMenu" id="quiz">Menu
        <i class="fas fa-caret-down"></i>
      </a>
      <ul class="collapse list-unstyled" id="quizMenu">
        <li class="quizSubMenu"><a href="/quiz/add-question">Add item</a></li>
        <li class="quizSubMenu"><a href="/quiz/manage-question">Manage Menu</a></li>
        <li class="quizSubMenu"><a href="/quiz/create-test">Add Category</a></li>
      </ul>
    </li>
  </ul>

</nav>